.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-wrapper__button {
  width: 100px;
  height: 40px;
  font-size: 20px;
}

.button-wrapper__button:not(:last-child) {
  margin-right: 10px;
}
