.input-calendar {
  width: 220px;
}

.timer {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.value {
  font-size: 36px;
}
